@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #fef3c7;
}
::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}

/* Dark mode scrollbar styles */
.dark ::-webkit-scrollbar-track {
  background: #374151; /* Darker track for dark mode */
}
.dark ::-webkit-scrollbar-thumb {
  background: #d97706; /* Adjusted thumb color for dark mode */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #ea580c; /* Adjusted hover thumb color for dark mode */
}
